p {
  font-family: Roboto, Arial;
}

.youtube-home {
  position: fixed;
  top: 15px;
  left: 15px;
  width: 95px;
  cursor: pointer;
}


body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto, Arial;
}

.container {
  width: 300px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

/* Form input styling */
.sign-in-form input[type="text"],
.sign-in-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 25%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin: 7px 14px;
}

button:hover {
  background-color: #cacaca8e;
}

.email, .password {
  text-align: left;
  font-size: 12px;
}