.navigation-bar {
  position: fixed;
  z-index: 100;
  right: 0;
  left: 0;
  top: 0;
  height: 56px;
  display: flex;
  background-color: white;
}


.left-section {
  flex: 1/4;
  display: flex;
  justify-content: left;
}

.middle-section {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 2px;
}

.right-section {
  flex: 1/4;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}



.hamburger-menu {
  width: 25px;
  margin-left: 22px;
  cursor: pointer;
}
.hamburger-menu:hover {
  background-color: rgba(128, 128, 128, 0.18);
  padding: 0px 7px;
  margin-left: 15px;
  margin-right: -7px;
  margin-top: 9px;
  margin-bottom: 9px;
  border-radius: 100px;
}

.youtube-logo {
  width: 90px;
  margin-left: 25px;
  margin-right: 75px;
  cursor: pointer;
}



.search-box {
  height: 36px;
  padding: 0px 4px;
  padding-left: 10px;
  max-width: 500px;
  min-width: 50px;
  flex: 1;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  border: 1px solid rgb(192 192 192);
  box-shadow: inset 1px 2px 3px rgba(0 0 0 0.5);
  font-size: 16px;
}
.search-box::placeholder {
  font-family: Roboto, Arial;
  font-size: 16px;
}

.seacrh-icon {
  height: 24px;
  background-color: rgba(0, 0, 0, 0.03);
  padding: 6px 19px;
  border: 1px solid rgb(192 192 192);
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  border-left: 0px;
  margin-left: -2px;
  cursor: pointer;
}
.seacrh-icon:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.voice-search-icon {
  height: 23px;
  align-items: end;
  background-color: rgba(128, 128, 128, 0.13);
  padding: 8px;
  border-radius: 100px;
  margin: 0px 50px 0px 16px;
  cursor: pointer;
}
.voice-search-icon:hover {
  background-color: rgba(128, 128, 128, 0.3);
}



.settings-button {
  margin-right: 10px;
  height: 28px;
  opacity: 0.7;
  cursor: pointer;
}
.signin-button {
  margin-right: 15px;
  height: 32px;
  color: rgb(6, 95, 212);
  background-color: white;
  font-family: Roboto, Arial;
  font-weight: 500;
  font-size: 14px;
  border: 1px solid rgb(192 192 192);
  border-radius: 100px;
  padding: 0px 12px;
  cursor: pointer;
}
.signin-button:hover {
  background-color: rgba(177, 217, 255, 0.5);
  border: none;
  padding: 0px 13px;
}


.tooltip-area {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.tooltip {
  background-color: rgba(90, 90, 90, 0.99);
  color: white;
  border-radius: 3px;
  padding: 8px 8px;
  position: absolute;
  bottom: -40px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  font-family: Roboto, Arial;
  font-size: 12px;
}
.tooltip-area:hover .tooltip {
  opacity: 1;
}