.video-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
  margin-left: 90px;
}
.video-link, .channel-link {
  text-decoration: none;
}
 
.thumbnail-row {
  position: relative;
}
.thumbnail {
  width: 100%;
  margin-top: 16px;
  border-radius: 12px;
  cursor: pointer;
  position: relative;
}
.thumbnail:hover {
  border-radius: 0px;
  transition: 0.8s;
}
.timestamp {
  position: absolute;
  bottom: 10px;
  right: 8px;
  font-family: Roboto, Arial;
  font-size: 13px;
  padding: 3px 4px;
  border-radius: 4px;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
}



.video-info {
  margin-top: 12px;
  display: grid;
  grid-template-columns: 45px 1fr;
}

.logo {
  border-radius: 50px;
  width: 36px;
  display: block;
  cursor: pointer;
}

.title {
  display: block;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
  color: black;
  cursor: pointer;
}

.description,.channel-name {
  color: rgb(170, 170, 170);
  font-size: 14px;
  font-weight: 400;
}
.channel-name {
  cursor: pointer;
}
.channel-name:hover {
  color: black;
  transition: 0.15s;
}



@media (max-width: 700px) {
  .video-card{
    grid-template-columns: 1fr;
  }
}

@media (min-width: 701px) and (max-width: 1000px) {
  .video-card{
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1300px) {
  .video-card{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

